---
import BlogPost from "../../layouts/BlogPost.astro";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { Markdown } from "@astropub/md";
import FormattedDate from "../../components/FormattedDate.astro";

export function getStaticPaths() {
    return [{ params: { slug: "clifford" } }, { params: { slug: undefined } }];
}

const { slug } = Astro.params;

type Post = {
    title: string;
    date: Date;
    body: {
        markdown: string;
    };
};

const query = {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
        query: `query ($slug: String) {
      allPosts(where: {slug: $slug}) {
      title
      date
      picture
      body {
        markdown
      }
      }
    }
  `,
        variables: {
            slug: slug,
        },
    }),
};
const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, query);
const json = await response.json();
console.log(json);
const post: Post[] = json.data.allPosts;
const mdContent = post[0].body.markdown;
---

<!doctype html>
<html lang="es">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style></style>
    </head>
    <body>
        <Header />
        <main>
            <section>
                <h1>{post[0].title}</h1>
                <FormattedDate date={new Date(post[0].date)} />
                <!-- <img src={post[0].picture.url} alt={post[0].title} /> -->
                <Markdown of={mdContent} />
            </section>
        </main>
        <Footer />
    </body>
</html>
