---
import BaseHead from '../components/BaseHead.astro';
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
		<style>
		</style>
		</head>
		<body>

            <main>
                <div className="container">
                    <h1>{title}</h1>
                    <p>{description}</p>
                    <img src={heroImage} alt={title} />
                    <p>Published: {pubDate}</p>
                    <p>Last updated: {updatedDate}</p>
                </div>
            </main>
